---
---
:root {
    --red: #ff0000;
    --white: #ffffff;
    --black: #000000;

    --background-colour: var(--white);
    --text-colour: var(--black);
    --emphasis-colour: var(--red);
    --diminished-emphasis-colour: #dd0000;

    --link-colour: var(--emphasis-colour);
    --link-hover-colour: var(--black);
    --link-active-colour: var(--black);
    --link-visited-colour: var(--diminished-emphasis-colour);

    --hr-colour: rgb(128, 128, 128);
    --disabled-colour: #aaaaaa;
}

body { 
    font-family: Arial, Helvetica, sans-serif; 
    font-size:14pt; 
    color: var(--text-colour);
    background-color: var(--background-colour);
    font-weight:bold; 
} 

em {
    color: var(--emphasis-colour);
    font-style: normal;
}
td { 
    font-family: Arial, Helvetica, sans-serif; 
    font-size:14pt; 
    font-weight:bold;
} 
.heading { 
    font-size: 18pt;
} 
.heading, .heading-lower { 
    font-style: italic;
    font-weight: bold;
    em {
        font-style: italic;
    }
} 
.highlighted { 
    font-family: Impact, Arial;
    color: var(--text-colour); 
    font-size: 24pt; 
}
.red {  
    color: var(--red);
}
a:hover { 
    font-family: Impact,Arial;
    color: var(--link-hover-colour);
    font-size: 24pt; 
}
.smaller { 
    font-family: Arial, Helvetica, sans-serif; 
    font-size:12pt;
}
a:link { 
    color: var(--link-colour);
}
a:visited { 
    color: var(--link-visited-colour);
}
a:active { 
    color: var(--link-active-colour);
}
.subheading { 
    font-family:"Arial Black", Arial, Helvetica; 
    font-size:18pt; 
    font-weight:normal; 
    color: var(--red);
}
.black {  color: var(--black); }

#homepage {
    text-align: center;
    hr {
        border: 1px solid var(--hr-colour);
    }
    a {
        color: var(--text-colour);
    }
    img.logo {
        width: 300px;
        height: 227px;
    }
    img.cd {
        width: 200px;
        height: 199px;
    }
}

#track-listing {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    tr {
        text-align: left;
        vertical-align: top;
        td {
            padding: 5px;
            &:first-child {
                text-align: right;
            }
        }
    }
    .art-mini {
        img {
            width: 70px;
            height: 70px;
            border: 1px solid;
            border-color: var(--black);
        }
    }
}

.disabled {
    color: var(--disabled-colour);
}

img.art-full {
        width: 200px;
        height: 200px;
        border: 1px solid;
        border-color: var(--black);
        margin-top: 4em;
        float: right;
}

#page-container {
    display: flex;
    flex-direction: row;
    align-items: top;
}

#page-content {
    width: 100%;
    .subnav {
        font-family: Impact,Arial; 
        font-size: 24pt;
        color: var(--red);
    }
}

nav#main-navigation {
    width: 100px;
    margin-right: 1em;
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
        li {
            margin-bottom: 0.75em;
            font-style: italic;
            font-weight: bold;
            font-size: larger;
            a {
                color: var(--red);
            }
            &.active {
                font-family: Impact,Arial;
                font-size: 24pt;
                font-style: normal;
            }
        }
    }
}

h1, h2, h3 {
    margin-top: 0px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size:14pt; 
}

.info-table {
    tr {
        td {
            padding-left: 5px;
            padding-right: 5px;
            vertical-align: top;
            &:first-child {
                color: var(--red);
                white-space: nowrap;
            }
        }
    }
}

ul.song-list {
    padding: 0;
    li {
        list-style: none;
        display: inline;
        color: (--text-colour);
        a {
            color: var(--text-colour);
        }
        &:nth-child(even) {
            color: var(--red);
            a {
                color: var(--emphasis-colour);
            }
        }
    }
}

#album {
    text-align:center;
}

.song-title {
    @extend .highlighted;
    color: var(--red);
}

.listen {
    @extend .smaller;
    @extend .disabled;
}

#reviews {
    blockquote {
        @extend .smaller;
        font-style: italic;
        margin-left: 0px;
    }
}
